/* ESTILOS GLOBALES */
body {
    font-family: "Inconsolata", monospace;
    background-size: cover;
    font-family: 'Space Grotesk', Sans-Serif;
    padding-top: 80px;
    color: #080303c9; /* Color de texto principal */
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #a3a1a1;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 35px;
}

p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    padding: 5px;
}

/* ESTILOS HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    position: fixed;
    height: 70px;
    top: 8px;
    width: 100%;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
/* Estilos para los botones */
input[type="number"], button {
    padding: 10px 20px; 
    margin: 5px; 
    border-radius: 5px; 
    background-color: #101011; 
    color: #fff; 
    font-size: 12px; 
    cursor: pointer; 
}

/* Estilos para el botón de tipo number */
input[type="number"] {
    width: 200px; /* Ancho del campo de número */
}

/* Estilos para el botón de tipo button */
button {
    width: auto; /* Ancho automático */
}


.scroll {
    background-color: rgb(218, 218, 218);
    box-shadow: .1rem .2rem .3rem #726363;
}

.scroll img {
    filter: invert(30%);
}

.scroll h1 {
    color: #333336;
}

/* ESTILOS MAIN */
.contenedor {
    text-align: center;
}

.wrap-title-section1 {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: -20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wrap_column-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 580px);
    justify-items: center;
    align-items: center;
}

.animation {
    font-family: "PT Serif", serif;
    font-weight: bold;
    width: 270px;
    height: 490px;
    background-color: #413939;
    text-align: center;
    border-radius: 20px 20px 5px 5px;
    overflow: hidden;
    box-shadow: 13px 8px 27px 0px rgba(0, 0, 0, 0.75);
}

.animation img {
    width: 100%;
    height: 310px;
}

.title-name .precio span {
    font-size: 20px;
    font-weight: 300;
}

.title-name button {
    color: #656599;
    background-color: #101011;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px; /* Añadir padding al botón */
    border-radius: 5px;
    font-size: 17px;
    border: none;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    display: block; /* Convertir en bloque para centrar */
    margin: 0 auto; /* Centrar horizontalmente */
}
